@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi --default;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

#qr-wrapper {
  width: 100%;
  height: 100%;
}

#qr-wrapper svg {
  width: 100% !important;
  height: 100% !important;
}
